.dialog {
  border: none;
  width: 100vw;
  height: 100vh;

  &[open] {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dialogContext {
  width: 100%;
  max-width: 600px;
  height: 600px;
  color: #000000;
  background-color: white;
}
